* {
    color: #D3C6AA;
    border: unset;
    font-family: "FiraCode Nerd Font";
}

:root {
  --border-size: 3px;
  --border-radius: 20px;
}

.monitor {
    background-color: transparent;
}

.index {
    background: transparent;
    border-radius: var(--border-radius);
}

.workspace {
    background: rgba(30,35,38,0.6);
    border: var(--border-size) solid transparent;
}

.workspace_special {
}

.workspace_active {
    border: var(--border-size) solid #425047;
}
.workspace:hover {
    border: var(--border-size) solid #425047;
}

.client-image {
    background: #2D353B77;
    border-radius: 20px;
}

.client {
    /* background: #2E383C; */
    background: transparent;
    padding: 5px;
}

.client_active {
    background: rgba(167,192,128,0.5);
}

.client:hover {
    background: rgba(167,192,128,0.5);
}

/* Experimental Features: */
/* .launcher { */
/*     background: pink; */
/* } */
/**/
/* .launcher-entry { */
/*     background: greenyellow; */
/* } */
/**/
/* .launcher-list { */
/*     background: blue; */
/* } */
/**/
/* .launcher-item { */
/*     background: red; */
/* } */
/**/
/* .launcher-item-selected { */
/*     background-color: aqua; */
/* } */
